<div class="home">
  <section id="dev-section" class="dev-section">
    <div class="banner">
      <h2>Development & Integration</h2>
      <p>
        Our development and integration services cater to organisations looking
        at digital transformation and Industry 4.0. Let’s work together to
        realise your business goals today.
      </p>
    </div>
    <div class="card-container">
      <app-card
        imgSrc="assets/images/c1.svg"
        subtitle="Customised Development"
        title="Tailor-made solutions for your business"
        content="Can’t find a ready-made solution that fits? We can custom build mobile & web applications to suit your business needs."
      >
      </app-card>
      <app-card
        imgSrc="assets/images/c2.svg"
        subtitle="Integration & API Management"
        title="Achieve digital transformation via an API management ecosystem"
        content="Venture into the mobile space with our mobility services. From mobile-first websites to mobile apps, we’re ready to help you develop a mobile solution that works."
      >
      </app-card>
      <app-card
        imgSrc="assets/images/c3.svg"
        subtitle="Cloud-native Development"
        title="Enhance your business in a cloud-native environment "
        content="Improve business agility, velocity and flexibility through the cloud – we are here to guide you through the entire process."
      >
      </app-card>
      <app-card
        imgSrc="assets/images/c4.svg"
        subtitle="Mobile Development"
        title="Become an anywhere business"
        content="From mobile-first websites to mobile apps, we’re ready to help you develop a mobile solution that works."
      >
      </app-card>
      <app-card
        imgSrc="assets/images/c5.svg"
        subtitle="Application Modernisation"
        title="Breathing new life into old technology"
        content="Give legacy or aging systems a new lease on life. We can help you modernise them to better serve your business needs."
      >
      </app-card>
    </div>
  </section>
  <section id="uiux-section" class="uiux-section">
    <div class="banner">
      <h2>UI & UX Design</h2>
      <p>
        We bring value to your business by producing seamless, multi-platform
        digital experiences that result in strong, meaningful user engagements.
        Read more about our services below.
      </p>
    </div>
    <div class="card-container">
      <app-card
        imgSrc="assets/images/c6.svg"
        subtitle="User Experience"
        title="Intuitive digital experiences to elevate your business"
        content="Through good UX design, we can help you capture and retain the trust, business and loyalty of key customer groups."
      >
      </app-card>
      <app-card
        imgSrc="assets/images/c7.svg"
        subtitle="User Interface"
        title="Deliver memorable brand experiences using human-centred design"
        content="We meld innovation and technology with content and design best practices to translate your business goals into experiences that are meaningful to customers."
      >
      </app-card>
      <app-card
        imgSrc="assets/images/c8.svg"
        subtitle="Cloud Marketing"
        title="Leverage cloud applications for digital marketing efficacy"
        content="Through social media and cloud marketing, we help create impactful digital campaigns and experiences that are bound to captivate audiences."
      >
      </app-card>
    </div>
  </section>
  <section id="connect-section" class="connect-section">
    <div class="banner">
      <h2>Connect</h2>
      <p>
        Every successful connection starts in conversation. Drop us a line today
        :)
      </p>
    </div>
    <app-connect-form></app-connect-form>
  </section>
</div>
